body{
 margin: 0%;
 padding: 0%;  
 font-family: sans-serif;
 border: #000;
 outline: aquamarine;
 background-color: ivory;
 background-size: cover;
 background-position: center;
}
.signup{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(rgb(228, 198, 198), rgb(170, 180, 170), rgb(210, 210, 221));
    background: rgb(243, 232, 232);
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}

.signup h1{
    color:rgb(37, 43, 37);
    margin-bottom: 20px;

}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 2px rgb(235, 219, 219);
    outline: none;
    background-color: rgb(209, 196, 180);
}

button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.sign-btn{
    background-color:turquoise;

}
.login-btn{
    background-color: teal;
}
img{
    width: 200px;
    border-radius: 500px;
    margin-top: -60px;
}

